/* CSS/CORE.CSS
last update: 05-08-2014
*/

/* BODY */
body{
	margin:0px;
	font-size:16px; font-family: Arial, Helvetica, sans-serif;
	color:#5b5b5b;	
	font-weight:normal;
	background-color:#ffffff;
}

/* BOLD */
.bold{
	font-weight:bold;	
}

/* HIDE */
.hide{display:none;}

/* LOADING DIVS */
.pageloading img{
	position:absolute;
    top:50%; left:50%;
    margin-top:-30px; margin-left:-30px;
	width:60px;	height:60px;
}
#content .loading{text-align:center;}  
#content .loading img{width:40px; height:40px; margin:10px;}

/* TABLE */
.table{display:table; width:100%;}
.table-row{display:table-row;}
.table-cell{display:table-cell; vertical-align:top;}

/* ERRORS */
.errorcell{
	background-color:#ffffff;
	text-align:center;
	padding:10px;
	border:solid 1px #9f9f9f;
	margin:10px;
}
.errorcell h1{
	margin:0px;	padding:0px;
	padding-top:5px;
	font-size:16px;
	font-weight:bold;
}
.errorcell p{margin:0px;padding:0px; padding-top:10px;}

/* JQUERY UI */
.ui-datepicker{font-size:74%;}
.ui-dialog{font-size:74%;}
.ui-tooltip{font-size:74%;}

/* TOOLTIP */
.tooltip{
	vertical-align:middle;
	width:20px;
	height:20px;
	padding-left:5px;
	padding-right:5px;
}
